<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hefa.order.mapper.ClientOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.hefa.order.pojo.ClientOrderItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="specification_info" jdbcType="VARCHAR" property="specificationInfo" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    
    <result column="product_tip" jdbcType="DECIMAL" property="productTip" />
    <result column="product_discount" jdbcType="DECIMAL" property="productDiscount" />
    <result column="total_discount_product_price" jdbcType="DECIMAL" property="totalDiscountProductPrice" />
    
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, product_code, product_name, specification_info, product_price, quantity, creator, 
    create_time, modifier, modify_time,product_tip,product_discount,total_discount_product_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from client_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hefa.order.pojo.ClientOrderItem">
    insert into client_order_item (id, order_code, product_code, product_name,
      specification_info, product_price, quantity, 
      creator, create_time, modifier, product_tip,product_discount,total_discount_product_price
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{orderCode,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{specificationInfo,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{productTip,jdbcType=DECIMAL}, #{productDiscount,jdbcType=DECIMAL}, #{totalDiscountProductPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hefa.order.pojo.ClientOrderItem">
    insert into client_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="specificationInfo != null">
        specification_info,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="productTip != null">
        product_tip,
      </if>
      <if test="productDiscount != null">
        product_discount,
      </if>
      <if test="totalDiscountProductPrice != null">
        total_discount_product_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="specificationInfo != null">
        #{specificationInfo,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productTip != null">
        #{productTip,jdbcType=DECIMAL},
      </if>
      <if test="productDiscount != null">
        #{productDiscount,jdbcType=DECIMAL},
      </if>
      <if test="totalDiscountProductPrice != null">
        #{totalDiscountProductPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hefa.order.pojo.ClientOrderItem">
    update client_order_item
    <set>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="specificationInfo != null">
        specification_info = #{specificationInfo,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productTip != null">
        product_tip = #{productTip,jdbcType=DECIMAL},
      </if>
      <if test="productDiscount != null">
        product_discount = #{productDiscount,jdbcType=DECIMAL},
      </if>
      <if test="totalDiscountProductPrice != null">
        total_discount_product_price = #{totalDiscountProductPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hefa.order.pojo.ClientOrderItem">
    update client_order_item
    set order_code = #{orderCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      specification_info = #{specificationInfo,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_tip = #{productTip,jdbcType=DECIMAL},
      product_discount = #{productDiscount,jdbcType=DECIMAL},
      total_discount_product_price = #{totalDiscountProductPrice,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getOrderItemInfosByOrderCode" parameterType="string" resultType="com.hefa.order.pojo.vo.OrderItemInfo">
    SELECT
		coi.product_code AS productCode,
		coi.product_price AS productPrice,
		coi.product_name AS productName,
		ig.goods_no AS productModuleNo,
		coi.quantity AS quantity,
		coi.specification_info AS specificationInfo,
		coi.total_discount_product_price AS totalDiscountProductPrice,
		coi.product_tip as productTip,
		coi.product_discount as productDiscount
	FROM
		client_order_item coi
	join iwebshop_goods ig on coi.product_code = ig.id
	WHERE coi.order_code = #{orderCode}
  </select>
</mapper>