<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hefa.order.mapper.ClientInvoiceMapper">
  <resultMap id="BaseResultMap" type="com.hefa.order.pojo.ClientInvoice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="invoice_template_code" jdbcType="VARCHAR" property="invoiceTemplateCode" />
    <result column="shipping_address_code" jdbcType="VARCHAR" property="shippingAddressCode" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="invoice_status" jdbcType="TINYINT" property="invoiceStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, invoice_code, user_code, order_code, invoice_template_code, shipping_address_code, 
    amount, quantity, invoice_status, creator, create_time, modifier, modify_time,remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_invoice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByCode" parameterType="string" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_invoice
    where invoice_code = #{invoiceCode}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from client_invoice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hefa.order.pojo.ClientInvoice">
    insert into client_invoice (id, invoice_code, user_code, 
      order_code, invoice_template_code, shipping_address_code, 
      amount, quantity, invoice_status, 
      creator, create_time, modifier, 
      modify_time, remark)
    values (#{id,jdbcType=BIGINT}, #{invoiceCode,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, 
      #{orderCode,jdbcType=VARCHAR}, #{invoiceTemplateCode,jdbcType=VARCHAR}, #{shippingAddressCode,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, #{invoiceStatus,jdbcType=TINYINT}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP},#{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hefa.order.pojo.ClientInvoice">
    insert into client_invoice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="invoiceCode != null">
        invoice_code,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="invoiceTemplateCode != null">
        invoice_template_code,
      </if>
      <if test="shippingAddressCode != null">
        shipping_address_code,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="invoiceStatus != null">
        invoice_status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="invoiceCode != null">
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTemplateCode != null">
        #{invoiceTemplateCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddressCode != null">
        #{shippingAddressCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="invoiceStatus != null">
        #{invoiceStatus,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hefa.order.pojo.ClientInvoice">
    update client_invoice
    <set>
      <if test="invoiceCode != null">
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTemplateCode != null">
        invoice_template_code = #{invoiceTemplateCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddressCode != null">
        shipping_address_code = #{shippingAddressCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="invoiceStatus != null">
        invoice_status = #{invoiceStatus,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hefa.order.pojo.ClientInvoice">
    update client_invoice
    set invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      invoice_template_code = #{invoiceTemplateCode,jdbcType=VARCHAR},
      shipping_address_code = #{shippingAddressCode,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      invoice_status = #{invoiceStatus,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getInvoiceDetail" parameterType="string" resultType="com.hefa.order.pojo.vo.InvoiceDetail">
  	SELECT
		ci.invoice_code AS invoiceCode,
		ci.amount AS amount,
		ci.create_time AS invoiceCreateTime,
		ci.invoice_status AS invoiceStatus,
		ci.order_code AS orderCode,
		co.create_time AS orderTime,
		ci.remark AS remark,
		cit.invoice_type AS invoiceType,
		cit.invoice_title AS invoiceTitle,
		cit.tax_identification_number AS taxIdentificationNumber,
		cit.company_name AS companyName,
		cit.reg_address AS regAddress,
		cit.reg_telephone AS regTelephone,
		cit.bank AS bank,
		cit.bank_account AS bankAccount,
		csa.province_name AS provinceName,
		csa.city_name AS cityName,
		csa.area_name AS areaName,
		csa.detail_address AS detailAddress,
		csa.receiver_name AS receiverName,
		csa.receiver_phone_number AS receiverPhoneNumber,
		cil.delivery_person AS deliveryPerson,
		cil.delivery_phone AS deliveryPhone,
		cil.delivery_type AS deliveryType,
		cil.number AS number,
		ec.company_name AS expressCompanyName
	FROM
		client_invoice ci
	JOIN client_order co ON ci.order_code = co.order_code
	JOIN client_invoice_template cit ON cit.invoice_template_code = ci.invoice_template_code
	JOIN client_shipping_address csa ON csa.shipping_address_code = ci.shipping_address_code
	LEFT JOIN client_invoice_logistics cil ON cil.invoice_code = ci.invoice_code
	LEFT JOIN express_company ec ON ec.id = cil.express_company_id
	WHERE
		ci.invoice_code = #{invoiceCode}
  </select>
  
  <select id="getInvoiceInfos" parameterType="com.hefa.order.pojo.bo.SearchInvoiceInfoParam" resultType="com.hefa.order.pojo.vo.InvoiceInfo">
	SELECT
		ci.invoice_code AS invoiceCode,
		ci.amount AS amount,
		ci.create_time AS invoiceCreateTime,
		ci.invoice_status AS invoiceStatus,
		ci.order_code AS orderCode,
		cit.invoice_type AS invoiceType,
		im.mobile AS clientUserPhoneNumber
	FROM
		client_invoice ci
	JOIN client_order co ON ci.order_code = co.order_code
	JOIN client_invoice_template cit ON cit.invoice_template_code = ci.invoice_template_code
	JOIN iwebshop_member im ON im.user_id = co.user_code
	<where>
		<if test="userCode != null and userCode != ''">
			and ci.user_code= #{userCode}
		</if>
		<if test="startTime != null and startTime != ''">
			and ci.create_time >= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and ci.create_time &lt;= #{endTime}
		</if>
		<if test="invoiceStatus != null">
			and ci.invoice_status = #{invoiceStatus}
		</if>
		<if test="searchInput != null and searchInput != ''">
			and (
					im.mobile LIKE CONCAT('%', #{searchInput}, '%')
				or	ci.invoice_code = #{searchInput}
				or	ci.order_code = #{searchInput}
			)
		</if>
	</where>
	ORDER BY ci.create_time DESC
  </select>
  
  <select id="existExpressCompany" parameterType="int" resultType="int">
  	select count(1) from express_company where id = #{expressCompanyId}
  </select>
  
  <select id="getExpressCompanyInfos" resultType="com.hefa.order.pojo.vo.ExpressCompanyInfo">
  	SELECT
		id AS expressCompanyId,
		company_name AS expressCompanyName
	FROM
		express_company
  </select>
  
  <select id="isOrderExistInvoiceRecord" resultType="int" parameterType="string">
  	SELECT
		count(1)
	FROM
		client_invoice ci
	where ci.order_code = #{orderCode}
	and invoice_status != 3
  </select>
  
</mapper>