<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hefa.user.mapper.ClientUserSalesmanMapper">
  <resultMap id="BaseResultMap" type="com.hefa.user.pojo.ClientUserSalesman">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="salesman_code" jdbcType="VARCHAR" property="salesmanCode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_code, salesman_code, status, creator, create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_user_salesman
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from client_user_salesman
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hefa.user.pojo.ClientUserSalesman">
    insert into client_user_salesman (id, user_code, salesman_code, 
      status, creator, create_time, 
      modifier, modify_time)
    values (#{id,jdbcType=BIGINT}, #{userCode,jdbcType=VARCHAR}, #{salesmanCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hefa.user.pojo.ClientUserSalesman">
    insert into client_user_salesman
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="salesmanCode != null">
        salesman_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanCode != null">
        #{salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hefa.user.pojo.ClientUserSalesman">
    update client_user_salesman
    <set>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanCode != null">
        salesman_code = #{salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hefa.user.pojo.ClientUserSalesman">
    update client_user_salesman
    set user_code = #{userCode,jdbcType=VARCHAR},
      salesman_code = #{salesmanCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="countBySalesmanCode" parameterType="string" resultType="int">
    select  count(1)
    from client_user_salesman
    where status != 0 
    and salesman_code = #{salesmanCode}
  </select>
  <select id="countByUserCode" parameterType="string" resultType="int">
    select  count(1)
    from client_user_salesman
    where status != 0 
    and user_code = #{userCode}
  </select>
  
  <select id="getInvitedUserInfos" parameterType="com.hefa.user.pojo.bo.SearchInvitedUserInfoParam" resultType="com.hefa.user.pojo.vo.InvitedUserInfo">
	SELECT
		cus.id AS recordId,
		im.telephone,
		cus.create_time AS createTime,
		pu.user_name as platformUserName,
		IFNULL(t.orderCount, 0) AS orderCount
	FROM
		iwebshop_user iu
	JOIN iwebshop_member im ON iu.id = im.user_id
	JOIN client_user_salesman cus ON cus.user_code = iu.id
	JOIN platform_user_salesman pus ON pus.salesman_code = cus.salesman_code
	JOIN platform_user pu ON pu.user_code = pus.platform_user_code
	LEFT JOIN (
		SELECT
			co.user_code,
			count(1) AS orderCount
		FROM
			client_order co
		GROUP BY
			co.user_code
	) t ON t.user_code = iu.id
	<where> 
		pus.status != 0
		<if test="startTime != null and startTime != ''">
			and cus.create_time >= #{orderStartTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and cus.create_time &lt;= #{orderEndTime}
		</if>
		<if test="searchInput != null and searchInput != ''">
			and (
					im.telephone LIKE CONCAT('%', #{searchInput}, '%')
				or	pu.user_name LIKE CONCAT('%', #{searchInput}, '%')
			)
		</if>
	</where>	
	ORDER BY
		cus.create_time DESC
  </select>
  
</mapper>