<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hefa.user.mapper.PlatformUserSalesmanMapper">
  <resultMap id="BaseResultMap" type="com.hefa.user.pojo.PlatformUserSalesman">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="platform_user_code" jdbcType="VARCHAR" property="platformUserCode" />
    <result column="salesman_code" jdbcType="VARCHAR" property="salesmanCode" />
    <result column="invited_client_user_count" jdbcType="INTEGER" property="invitedClientUserCount" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, platform_user_code, salesman_code, status, invited_client_user_count, creator, create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from platform_user_salesman
    where id = #{id,jdbcType=BIGINT} and status != 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from platform_user_salesman
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hefa.user.pojo.PlatformUserSalesman">
    insert into platform_user_salesman (id, platform_user_code, salesman_code, 
      status, invited_client_user_count, creator, create_time, 
      modifier, modify_time)
    values (#{id,jdbcType=BIGINT}, #{platformUserCode,jdbcType=VARCHAR}, #{salesmanCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT},#{invitedClientUserCount,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hefa.user.pojo.PlatformUserSalesman">
    insert into platform_user_salesman
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="platformUserCode != null">
        platform_user_code,
      </if>
      <if test="salesmanCode != null">
        salesman_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invitedClientUserCount != null">
        invited_client_user_count,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="platformUserCode != null">
        #{platformUserCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanCode != null">
        #{salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="invitedClientUserCount != null">
        #{invitedClientUserCount,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hefa.user.pojo.PlatformUserSalesman">
    update platform_user_salesman
    <set>
      <if test="platformUserCode != null">
        platform_user_code = #{platformUserCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanCode != null">
        salesman_code = #{salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="invitedClientUserCount != null">
        invited_client_user_count = #{invitedClientUserCount,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hefa.user.pojo.PlatformUserSalesman">
    update platform_user_salesman
    set platform_user_code = #{platformUserCode,jdbcType=VARCHAR},
      salesman_code = #{salesmanCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      invited_client_user_count = #{invitedClientUserCount,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="countByPlatformUserCode" resultType="int">
    select  count(1)
    from platform_user_salesman
    where status != 0 
    and platform_user_code = #{platformUserCode}
    <if test="id != null">
        and id != #{id}
    </if>
  </select>
  
  <select id="countBySalesmanCode" parameterType="string" resultType="int">
    select  count(1)
    from platform_user_salesman
    where status != 0 
    and salesman_code = #{salesmanCode}
  </select>
  
  <select id="getSalesmanInfos" parameterType="com.hefa.user.pojo.bo.SearchSalesmanInfoParam" resultType="com.hefa.user.pojo.vo.SalesmanInfo">
    SELECT
    	pus.id as recordId,
		pus.salesman_code AS salesmanCode,
		pd.dept_name AS deptName,
		pu.user_name AS userName,
		pus.create_time AS createTime,
		pus.invited_client_user_count invitedUserCount,
		pus.platform_user_code as platformUserCode
	FROM
		platform_user_salesman pus
	JOIN platform_user pu ON pu.user_code = pus.platform_user_code
	JOIN platform_dept pd ON pd.id = pu.dept_id
	<where> 
		pus.status != 0
		<if test="startTime != null and startTime != ''">
			and pus.create_time >= #{orderStartTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and pus.create_time &lt;= #{orderEndTime}
		</if>
		<if test="searchInput != null and searchInput != ''">
			and (
					pus.salesman_code LIKE CONCAT('%', #{searchInput}, '%')
				or	pu.user_name LIKE CONCAT('%', #{searchInput}, '%')
			)
		</if>
	</where>	
	ORDER BY pus.create_time DESC
  </select>
  
</mapper>