<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hefa.order.mapper.ClientShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.hefa.order.pojo.ClientShoppingCart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="selection_record_code" jdbcType="VARCHAR" property="selectionRecordCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_code, selection_record_code, creator, create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_shopping_cart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from client_shopping_cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="removeShoppingCartRecord" parameterType="com.hefa.order.pojo.bo.RemoveShoppingCartProductParam">
    delete from client_shopping_cart
    where selection_record_code = #{selectionRecordCode}
    and user_code = #{userCode}
  </delete>
  <insert id="insert" parameterType="com.hefa.order.pojo.ClientShoppingCart">
    insert into client_shopping_cart (id, user_code, selection_record_code, 
      creator, create_time, modifier, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{userCode,jdbcType=VARCHAR}, #{selectionRecordCode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hefa.order.pojo.ClientShoppingCart">
    insert into client_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="selectionRecordCode != null">
        selection_record_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="selectionRecordCode != null">
        #{selectionRecordCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hefa.order.pojo.ClientShoppingCart">
    update client_shopping_cart
    <set>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="selectionRecordCode != null">
        selection_record_code = #{selectionRecordCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hefa.order.pojo.ClientShoppingCart">
    update client_shopping_cart
    set user_code = #{userCode,jdbcType=VARCHAR},
      selection_record_code = #{selectionRecordCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectBySelectionRecordCodeAndClientUserCode" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from client_shopping_cart
    where selection_record_code = #{selectionRecordCode}
    and user_code = #{userCode}
  </select>
  
  <select id="getShoppingCartInfos" parameterType="string" resultType="com.hefa.order.pojo.vo.ShoppingCartInfo">
  	SELECT
		csc.selection_record_code AS selectionRecordCode,
		csr.product_code AS productCode,
		csr.product_model_no AS productModelNo,
		csr.product_name AS productName,
		csr.price AS price
	FROM
		client_shopping_cart csc
	LEFT JOIN client_selection_record csr ON csr.selection_record_code = csc.selection_record_code
	WHERE
		csc.user_code = #{userCode}
	ORDER BY csc.create_time DESC
  </select>
  
  <select id="getShoppingCartOrderItems" resultType="com.hefa.order.pojo.vo.ShoppingCartInfo">
	SELECT
		ig.id AS productCode,
		ig.goods_no AS productModelNo,
		ig.name AS productName,
		ifnull(ig.market_price,0) AS price,
		CONCAT(
			ig.para_pnd1,
			',',
			ig.para_pnd2,
			',',
			ig.para_pnd3,
			',',
			ig.para_pnd4,
			',',
			ig.para_pnd5,
			',',
			ig.para_pnd6,
			',',
			ig.para_pnd7,
			',',
			ig.para_pnd8,
			',',
			ig.para_pnd9,
			',',
			ig.para_pnd10
		) AS specificationInfo
	FROM
		client_shopping_cart csc
	JOIN client_selection_record csr ON csr.selection_record_code = csc.selection_record_code
	JOIN iwebshop_goods ig ON ig.id = csr.product_code
	WHERE csc.user_code = #{userCode}
	AND ig.id in
	<foreach collection="orderItems" item="orderItem" open="(" close=")" separator=",">
		#{orderItem.productCode}
	</foreach>
  </select>
  
  <delete id="deleteShoppingCartByUserCode" parameterType="string">
  	delete from client_shopping_cart
    where user_code= #{userCode}
  </delete>
  
  <select id="existSameProduct" parameterType="string" resultType="long">
	SELECT
		csc.id
	FROM
		client_shopping_cart csc
	JOIN client_selection_record csr ON csr.selection_record_code = csc.selection_record_code
	where csr.product_code = (
		SELECT
			csr.product_code
		FROM
			client_selection_record csr 
		where csr.`status` = 1 and csr.selection_record_code = #{selectionRecordCode}
	)
  </select>
  
</mapper>